---
layout: page
title: Publications
---
<ol class="list">
    {% for post in site.posts %}
        {% if post.publications %}
            <li class="item {% if post.star %}star{% endif %}">
                <span>{{ post.author }},</span>
                {% if post.externalLink %}
                    <a class="url" href="{{ post.externalLink }}">
                        <span class="title">"{{ post.title }}"</span></a>,
                {% elsif post.pdfFile %}
                    <a class="url" href="/doc/{{ post.pdfFile }}">
                        <span class="title">"{{ post.title }}"</span></a>,
                {% else %}
                    <span class="title">"{{ post.title }}",</span>
                {% endif %}
                
                <span>
                    {% if post.arxivId %}
                        <i>arXiv preprint arXiv: {{ post.arxivId }}</i>,
                    {% else %}
                        in <i>{{ post.confName }} {% if post.confAbbr %}(<strong>{{ post.confAbbr }}</strong>){% endif %}</i>, {{ post.confLocation }}, {{ post.confDate }},
                    {% endif %}
                    {{ post.year }}
                </span>
                {% if post.note %}
                    <span class="note">({{ post.note }})</span>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ol>
